<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tintColor</key>
	<string>43ab8a</string>
	<key>Colors</key>
	<dict>
		<key>one</key>
		<string>ffffff</string>
		<key>two</key>
		<string>f9f9f9</string>
		<key>three</key>
		<string>tintColor</string>
		<key>four</key>
		<string>ec2526</string>
		<key>five</key>
		<string>cbcbcb</string>
		<key>six</key>
		<string>a7a9ac</string>
		<key>seven</key>
		<string>666666</string>
		<key>eight</key>
		<string>333333</string>
		<key>nine</key>
		<string>ffd86f</string>
	</dict>
	<key>TextColors</key>
	<dict>
		<key>one</key>
		<string>666666</string>
		<key>two</key>
		<string>555555</string>
		<key>three</key>
		<string>tintColor</string>
		<key>four</key>
		<string>333333</string>
		<key>five</key>
		<string>cbcbcb</string>
		<key>six</key>
		<string>9f9f9f</string>
		<key>seven</key>
		<string>fb9084</string>
		<key>eight</key>
		<string>ec2526</string>
		<key>nine</key>
		<string>ffd86f</string>
		<key>ten</key>
		<string>00bfff</string>
		<key>eleven</key>
		<string>ffffff</string>
		<key>twelve</key>
		<string>000000</string>
	</dict>
	<key>Images</key>
	<dict>
		<key>one</key>
		<string>tintColor</string>
		<key>two</key>
		<string>eight</string>
	</dict>
	<key>Fonts</key>
	<dict>
		<key>LargeTitle1</key>
		<dict>
			<key>weight</key>
			<string>regular</string>
			<key>size</key>
			<integer>50</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
		<key>LargeTitle2</key>
		<dict>
			<key>weight</key>
			<string>regular</string>
			<key>size</key>
			<integer>34</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
		<key>Headline1</key>
		<dict>
			<key>weight</key>
			<string>medium</string>
			<key>size</key>
			<integer>20</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
		<key>Headline2</key>
		<dict>
			<key>weight</key>
			<string>medium</string>
			<key>size</key>
			<integer>17</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
		<key>Subheadline</key>
		<dict>
			<key>weight</key>
			<string>light</string>
			<key>size</key>
			<integer>12</integer>
			<key>defaultColor</key>
			<string>quaternary</string>
		</dict>
		<key>Body</key>
		<dict>
			<key>weight</key>
			<string>regular</string>
			<key>size</key>
			<integer>16</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
		<key>Title1</key>
		<dict>
			<key>weight</key>
			<string>light</string>
			<key>size</key>
			<integer>24</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
		<key>Title2</key>
		<dict>
			<key>weight</key>
			<string>medium</string>
			<key>size</key>
			<integer>18</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
		<key>Title3</key>
		<dict>
			<key>weight</key>
			<string>regular</string>
			<key>size</key>
			<integer>20</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
		<key>Footnote</key>
		<dict>
			<key>weight</key>
			<string>regular</string>
			<key>size</key>
			<integer>13</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
		<key>Caption1</key>
		<dict>
			<key>weight</key>
			<string>medium</string>
			<key>size</key>
			<integer>16</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
		<key>Caption2</key>
		<dict>
			<key>weight</key>
			<string>regular</string>
			<key>size</key>
			<integer>12</integer>
			<key>defaultColor</key>
			<string>quaternary</string>
		</dict>
		<key>Caption3</key>
		<dict>
			<key>weight</key>
			<string>regular</string>
			<key>size</key>
			<integer>12</integer>
			<key>defaultColor</key>
			<string>quaternary</string>
		</dict>
		<key>Callout</key>
		<dict>
			<key>weight</key>
			<string>regular</string>
			<key>size</key>
			<integer>16</integer>
			<key>defaultColor</key>
			<string>primary</string>
		</dict>
	</dict>
	<key>TextFields</key>
	<dict>
		<key>one</key>
		<dict>
			<key>backgroundColor</key>
			<string>eff3f4</string>
			<key>foregroundColor</key>
			<string>666666</string>
		</dict>
	</dict>
</dict>
</plist>
